
<div class="Header">
    <div class="HeaderlogoPicture">
        <img id="ImageLogo" runat="server" class="LogoImage"  src="/assets/Images/IBA Logo.png" alt="" />
       
    </div>
    <div class="HeaderText">
        <div class="HeaderTextInner">
            IBA Practice Project
        </div>
        
    </div>
    <div class="HeaderLogin">
        <div class="HeaderLoginIcon">
            <a routerLink="/user/login"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Log In</a>
        </div>
        

    </div>
    <div class="HeaderSignUp">
        <div class="HeaderSignupIcon">
            <a routerLink="/user/registration"><i class="fa-solid fa-user-plus"></i>&nbsp;Sign Up</a>
        </div>
          
    </div>
</div>