
<div class="Footer">
    <div class="FooterCenter">
        <div class="FooterCenterTop">
            <ul class="FooterCenterContainer">
                <li class="FooterCenterContainerHeading">About IBA
                    <ul class="FooterCenter2ndContainer">
                        <li class="FooterCenter2ndContainerList"><a routerLink="/about">History</a></li>
                        <li class="FooterCenter2ndContainerList"><a href="#">Vission</a></li>
                        <li class="FooterCenter2ndContainerList"><a href="#">Contact Us</a></li>
                    </ul>
                </li>
                <li class="FooterCenterContainerHeading">Contact Info
                    <ul class="FooterCenter2ndContainer">
                        <li class="FooterCenter2ndContainerList"><a href="#"><i class="fas fa-location-arrow FooterLocationIcon"></i> 123 Ave Toronto</a></li>
                        <li class="FooterCenter2ndContainerList"><a href="#"><i class="fas fa-phone-alt FooterPhoneIcon"></i> 0123456789</a></li>
                        <li class="FooterCenter2ndContainerList"><a href="#"><i class="fas fa-paper-plane FooterEmailIcon"></i> IBA-Test@Email.com</a></li>
                    </ul>
                </li>
                <li class="FooterCenterContainerHeading">Quick Links
                    <ul class="FooterCenter2ndContainer">
                        <li class="FooterCenter2ndContainerList"><a href="#">Quick Links 1</a></li>
                        <li class="FooterCenter2ndContainerList"><a href="#">Quick Links 2</a></li>
                        <li class="FooterCenter2ndContainerList"><a href="#">Quick Links 3</a></li>
                    </ul>
                </li>
                <li class="FooterCenterContainerHeading">Follow Us
                    <ul class="FooterCenter2ndContainer">
                        <li class="FooterCenter2ndContainerListFollowUs"><a href="#"><i class="fab fa-facebook-square FooterFacebookIcon"></i></a></li>
                        <li class="FooterCenter2ndContainerListFollowUs"><a href="#"><i class="fab fa-youtube-square FooterYoutubeIcon"></i></a></li>
                        <li class="FooterCenter2ndContainerListFollowUs"><a href="#"><i class="fab fa-instagram-square FooterInstaIcon"></i></a></li>
                        <li class="FooterCenter2ndContainerListFollowUs"><a href="#"><i class="fab fa-twitter-square FooterTwitterIcon"></i></a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="FooterBottomCopyright">
            Copyright © IBA Alumni 2021.
        </div>
    </div>
    

</div>