<p>news-detail works!</p>
<div class="container" *ngFor="let news of newses">
    <router-outlet></router-outlet>
    
        <div class="text-center">
            <img src="/assets/Images/News1.jpg" class="img-fluid rounded img-thumbnail mb-4" alt="About Image" 
                style="height: 400px; object-fit: cover"/>
        </div>
        <h1 class="text-secondary text-center">
            News Detail
        </h1>
        <h3 class="text-muted text-center">News Date: {{news.newsDate}}</h3>
        <hr class="bg-secondary" />
        <p class="text-secondary lead h6 text-justify">
            {{news.newsDescription}}
        </p>
    
</div>