<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="About" *ngFor="let about of about">
    <div class="AboutText">
        <div class="AboutTextHeading" >
            <a href="#"><i class="fas fa-landmark"></i>{{about.aboutHeading}}</a>
        </div>
        <div class="AboutTextDescription">
            {{about.aboutDescription}}
        </div>
        <div class="AboutTextLink">
            <a routerLink="/about">READ MORE...</a>

        </div>

    </div>

    <div class="AboutImage">
        <img class="HistoryImage" src="/assets/Images/IBAAbout.jpg" alt=""/> 
    </div>

</div>