
<div class="QuickLinks">
    <div class="QuickLinksCenterMain">
        <div class="QuickLinksCenter">
            <div class="QuickLinksCenterTop"><i class="fas fa-highlighter"></i> Highlights</div>
            <div class="QuickLinksCenterBottom">
                <div class="QuickLinksBottomContainer">
                    <div class="QuickLinksContainerImage">

                        <img id="QuickLinksImage1" runat="server" class="QuickLinksImage" src="/assets/Images/QuickLinks1.jpg" alt="" />
                        <div class="QuickLinksOverView">
                            <a id="QuickLinks1" href="#">The Institute of Business Administration (IBA), University of Dhaka, is the pioneer in rendering business education in Bangladesh. It is also the leading business school in the country. Commitment to the highest educational standards distinguishes IBA among the educational institutes in Bangladesh. This reputation has been achieved through a tradition of excellence and dedication to quality education and research. IBA graduates are highly sought after by the industry and IBA is proud of its students who have made outstanding contributions to various fields, both at home and abroad.
IBA was founded in 1966 in collaboration with Indiana University, Bloomington, USA, under a Ford Foundation Financial Assistance Program with the objective of providing professional training to create future business leaders. The founder-director of IBA is Professor M. Shafiullah. IBA began its journey by launching its flagship MBA program. In the 1970s, the MPhil and PhD programs were introduced. In response to the growing demand for business education at the undergraduate level, the BBA program was started in 1993. In 2007, the Executive MBA program was launched to cater to the growing demand for quality education among mid-career executives.
In a proud history </a>

                        </div>

                    </div>

                    <div class="QuickLinksContainerHeading">
                        <a id="QuickLinksHeadLink1" href="#">Ocean Sunrise</a>
                    </div>


                </div>
                <div class="QuickLinksBottomContainer">
                    <div class="QuickLinksContainerImage">

                        <img id="QuickLinksImage2" runat="server" class="QuickLinksImage" src="/assets/Images/QuickLinks2.jpg" alt=""/>
                        <div class="QuickLinksOverView">
                            <a id="QuickLinks2" href="#">The Institute of Business Administration (IBA), University of Dhaka, is the pioneer in rendering business education in Bangladesh. It is also the leading business school in the country. Commitment to the highest educational standards distinguishes IBA among the educational institutes in Bangladesh. This reputation has been achieved through a tradition of excellence and dedication to quality education and research. IBA graduates are highly sought after by the industry and IBA is proud of its students who have made outstanding contributions to various fields, both at home and abroad.
IBA was founded in 1966 in collaboration with Indiana University, Bloomington, USA, under a Ford Foundation Financial Assistance Program with the objective of providing professional training to create future business leaders. The founder-director of IBA is Professor M. Shafiullah. IBA began its journey by launching its flagship MBA program. In the 1970s, the MPhil and PhD programs were introduced. In response to the growing demand for business education at the undergraduate level, the BBA program was started in 1993. In 2007, the Executive MBA program was launched to cater to the growing demand for quality education among mid-career executives.
In a proud history
                            </a>

                        </div>

                    </div>

                    <div class="QuickLinksContainerHeading">
                        <a id="QuickLinksHeadLink2" href="#">Stormy Sunset</a>
                    </div>
                </div>
                <div class="QuickLinksBottomContainer">
                    <div class="QuickLinksContainerImage">

                        <img id="QuickLinksImage3" runat="server" class="QuickLinksImage" src="/assets/Images/QuickLinks3.jpg" alt=""/>
                        <div class="QuickLinksOverView">
                            <a id="QuickLinks3" href="#">The Institute of Business Administration (IBA), University of Dhaka, is the pioneer in rendering business education in Bangladesh. It is also the leading business school in the country. Commitment to the highest educational standards distinguishes IBA among the educational institutes in Bangladesh. This reputation has been achieved through a tradition of excellence and dedication to quality education and research. IBA graduates are highly sought after by the industry and IBA is proud of its students who have made outstanding contributions to various fields, both at home and abroad.
IBA was founded in 1966 in collaboration with Indiana University, Bloomington, USA, under a Ford Foundation Financial Assistance Program with the objective of providing professional training to create future business leaders. The founder-director of IBA is Professor M. Shafiullah. IBA began its journey by launching its flagship MBA program. In the 1970s, the MPhil and PhD programs were introduced. In response to the growing demand for business education at the undergraduate level, the BBA program was started in 1993. In 2007, the Executive MBA program was launched to cater to the growing demand for quality education among mid-career executives.
In a proud history
                            </a>

                        </div>

                    </div>

                    <div class="QuickLinksContainerHeading">
                        <a id="QuickLinksHeadLink3" href="#">Frozen Timber Flakes</a>
                    </div>
                </div>
                <div class="QuickLinksBottomContainer">
                    <div class="QuickLinksContainerImage">

                        <img id="QuickLinksImage4" runat="server" class="QuickLinksImage" src="/assets/Images/QuickLinks4.jpg" alt=""/>
                        <div class="QuickLinksOverView">
                            <a id="QuickLinks4" href="#">The Institute of Business Administration (IBA), University of Dhaka, is the pioneer in rendering business education in Bangladesh. It is also the leading business school in the country. Commitment to the highest educational standards distinguishes IBA among the educational institutes in Bangladesh. This reputation has been achieved through a tradition of excellence and dedication to quality education and research. IBA graduates are highly sought after by the industry and IBA is proud of its students who have made outstanding contributions to various fields, both at home and abroad.
IBA was founded in 1966 in collaboration with Indiana University, Bloomington, USA, under a Ford Foundation Financial Assistance Program with the objective of providing professional training to create future business leaders. The founder-director of IBA is Professor M. Shafiullah. IBA began its journey by launching its flagship MBA program. In the 1970s, the MPhil and PhD programs were introduced. In response to the growing demand for business education at the undergraduate level, the BBA program was started in 1993. In 2007, the Executive MBA program was launched to cater to the growing demand for quality education among mid-career executives.
In a proud history
                            </a>

                        </div>

                    </div>

                    <div class="QuickLinksContainerHeading">
                        <a id="QuickLinksHeadLink4" href="#">Northern Lights</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>