
<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="QuickLinks" *ngFor="let quicklink of quicklinks">
    <div class="QuickLinksCenterMain">
        <div class="QuickLinksCenter">
            <div class="QuickLinksCenterTop"><i class="fas fa-highlighter"></i> Highlights</div>
            <div class="QuickLinksCenterBottom">
                <div class="QuickLinksBottomContainer">
                    <div class="QuickLinksContainerImage">

                        <img class="QuickLinksImage" src="/assets/Images/QuickLinks1.jpg" alt="" />
                        <div class="QuickLinksOverView">
                            <a>{{quicklink.quicklinkDescription}}</a>

                        </div>

                    </div>

                    <div class="QuickLinksContainerHeading">
                        <a routerLink="/quicklink/quicklinkDetail">{{quicklink.quicklinkHeading}}</a>
                    </div>


                </div>
                <div class="QuickLinksBottomContainer">
                    <div class="QuickLinksContainerImage">

                        <img class="QuickLinksImage" src="/assets/Images/QuickLinks2.jpg" alt=""/>
                        <div class="QuickLinksOverView">
                            <a routerLink="/quicklink/quicklinkDetail">{{quicklink.quicklinkDescription}}</a>

                        </div>

                    </div>

                    <div class="QuickLinksContainerHeading">
                        <a routerLink="/quicklink/quicklinkDetail">Stormy Sunset</a>
                    </div>
                </div>
                <div class="QuickLinksBottomContainer">
                    <div class="QuickLinksContainerImage">

                        <img class="QuickLinksImage" src="/assets/Images/QuickLinks3.jpg" alt=""/>
                        <div class="QuickLinksOverView">
                            <a routerLink="/quicklink/quicklinkDetail">{{quicklink.quicklinkDescription}}</a>

                        </div>

                    </div>

                    <div class="QuickLinksContainerHeading">
                        <a routerLink="/quicklink/quicklinkDetail">Frozen Timber Flakes</a>
                    </div>
                </div>
                <div class="QuickLinksBottomContainer">
                    <div class="QuickLinksContainerImage">

                        <img class="QuickLinksImage" src="/assets/Images/QuickLinks4.jpg" alt=""/>
                        <div class="QuickLinksOverView">
                            <a routerLink="/quicklink/quicklinkDetail">{{quicklink.quicklinkDescription}}</a>

                        </div>

                    </div>

                    <div class="QuickLinksContainerHeading">
                        <a routerLink="/quicklink/quicklinkDetail">Northern Lights</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>