


<nav class="NavHeader">
    <div class="NavMain">
        <ul class="NavMainMenu">
            <li class="NavMainList">
                <a href="#"><i class="fas fa-home"></i>Home</a>
            </li>
            

            <li class="NavMainList"><a href="#">About<i class="fas fa-caret-down down"></i></a>
                <ul class="NavSubMenu">
                    <li class="NavSubList"><a href="#">History<i class="fas fa-caret-right right"></i></a>
                        <ul class="Nav2ndSubMenu">
                            <li class="Nav2ndSubList"><a href="#">Founder Principal</a></li>
                            <li class="Nav2ndSubList"><a href="#">History Of IBA</a></li>
                            <li class="Nav2ndSubList"><a href="#">Tribute</a></li>
                            <li class="Nav2ndSubList"><a href="#">Teachers We Lost</a></li>
                        </ul>
                    </li>
                    <li class="NavSubList"><a href="#">Vision & Mission</a></li>
                    <li class="NavSubList"><a href="#">Message of Chairman</a></li>
                    
                </ul>
            </li>
            <li class="NavMainList"><a href="#">Committees<i class="fas fa-caret-down down"></i></a>
                <ul class="NavSubMenu">
                    <li class="NavSubList"><a href="#">New Comer</a></li>
                    <li class="NavSubList"><a href="#">Support<i class="fas fa-caret-right"></i></a>
                        <ul class="Nav2ndSubMenu">
                            <li class="Nav2ndSubList"><a href="#">Donate</a></li>
                            <li class="Nav2ndSubList"><a href="#">Become Contributer</a></li>
                        </ul>
                    </li>
                    <li class="NavSubList"><a href="#">Legal</a></li>
                    <li class="NavSubList"><a href="#">Social</a></li>
                    <li class="NavSubList"><a href="#">Election<i class="fas fa-caret-right"></i></a>
                        <ul class="Nav2ndSubMenu">
                            <li class="Nav2ndSubList"><a href="#">Electrion Results</a></li>
                            <li class="Nav2ndSubList"><a href="#">Upcoming Election</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="NavMainList"><a href="#">Member<i class="fas fa-caret-down down"></i></a>
                <ul class="NavSubMenu">
                    <li class="NavSubList"><a href="#">Member Registration</a></li>
                    <li class="NavSubList"><a href="#">Find A Member</a></li>
                    <li class="NavSubList"><a href="#">Inbox</a></li>
                    <li class="NavSubList"><a href="#">Write To Us</a></li>
                </ul>

            </li>
            <li class="NavMainList"><a href="#">Archive <i class="fas fa-caret-down down"></i></a>
                <ul class="NavSubMenu">
                    <li class="NavSubList"><a href="#">Photo Album</a></li>
                    <li class="NavSubList"><a href="#">Reports</a></li>
                    <li class="NavSubList"><a href="#">Forms & Doc</a></li>
                    
                </ul>
            </li>
        </ul>
        
        
    </div>
</nav>