<p>event-list works!</p>
<div class="container">

    <div class="row">
        <div class="col-md-6 ml-auto">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Events..." />
                <div class="input-group-append">
                    <button class="btn btn-secondary">Search</button>
                </div>
            </div>
        </div>
    </div>

</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header bg-primary">
                        <h1 class="text-secondary" style="padding:10px ;">Events Archive</h1>

                    </div>
                    <div class="row">
                        <button class="btn btn-primary" (click)="initNewEvent()">Create New Event</button>
                    </div>
                    <table class="table table-striped">
                        <thead class="bg-secondary text-info">
                            
                                <th Class="d-none d-sm-block">#</th>
                                <th>Title</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th Class="d-none d-sm-block">Time</th>

                                <th></th>
                        
                        </thead>
                        <tbody>

                            <tr *ngFor="let event of events">
                                <td Class="d-none d-sm-block">1</td>
                                <td>{{event.eventHeading}}</td>
                                <td>{{event.eventLocation}}</td>
                                <td>{{event.eventDate}}</td>
                                <td Class="d-none d-sm-block">{{event.eventTime}}</td>

                                <td>
                                    <!--  <a routerLink="/event/eventDetail/:" class="btn btn-secondary"></a>  !-->
                                        
                                    <button (click)="getEventById(id)" class="btn btn-primary">Details</button>
                                    
                                    <button (click)="editEvent(event)" class="btn btn-success">Edit</button>
                                    <button (click)="editEvent(event)" class="btn btn-danger">Delete</button>
                                    
                                   
                                    <!--
                                        <button (click)="editEvent(event)" class="btn btn-success"><i class="fas fa-trash-alt"></i>Edit</button>
                                        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</button>
                                    !-->
                                </td>
                            </tr>

                        </tbody>
                        <tbody>

                            <tr>
                                <td Class="d-none d-sm-block">2</td>
                                <td>Event Heading 2</td>
                                <td>Event Location 2</td>
                                <td>Event Date 2</td>
                                <td Class="d-none d-sm-block">Event TIme 2</td>

                                <td >
                                    <a routerLink="/event/eventDetail" class="btn btn-secondary">
                                        <button class="btn btn-primary">Details</button>
                                    </a>
                                    <button *ngFor="event" (click)="editEvent(event)" class="btn btn-success">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                    
                                    

                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <!-- Pagination -->

                </div>

                <nav class="">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<app-event-edit [event]="eventToEdit"></app-event-edit>
<router-outlet></router-outlet>