
<div class="SlideShow">

    <div class="SlideShowCenter">
        <div class="SlideShowLeft">
            <a class="SlideShowLeftLink" href="#"><i class="far fa-caret-square-left leftArrow"></i></a>
        </div>

        <div class="SlideShowCenterMain">
            <ul class="Slider">
                <li class="SliderList">
                    <a href="#" class="SliderListLink"></a>
                    <img id="SliderImage1" runat="server" class="SliderListImage" src="/assets/Images/SlideShow2.jpg" alt=""/></li>
                <li class="SliderList">
                    <a href="#" class="SliderListLink"></a>
                    <img id="SliderImage2" runat="server" class="SliderListImage" src="/assets/Images/SlideShow4.jpg" alt="" /></li>
                <li class="SliderList">
                    <a href="#" class="SliderListLink"></a>
                    <img id="SliderImage3" runat="server" class="SliderListImage" src="/assets/Images/SlideShow5.jpg" alt="" /></li>
                <li class="SliderList">
                    <a href="#" class="SliderListLink"></a>
                    <img id="SliderImage4" runat="server" class="SliderListImage" src="/assets/Images/SlideShow6.jpg" alt="" /></li>

            </ul>

        </div>


            <!-- <a href="#">
                    <img id="SlideShowImage" runat="server" class="SlideShowImage" src="~/Images/SlideShow2.jpg" />
                </a>--%>
        
        <%--<div class="SlideShowCenterButon">
                    Radio Buttons
                </div> !-->


        <div class="SlideShowRight">
            <a class="SlideShowRightLink" href="#"><i class="far fa-caret-square-right rightArrow"></i></a>
        </div>

        <div class="SlideShowNavigation">
            <ul class="SliderNaviagtion">
                <li class="SliderNaviagtionList">
                    <a href="#" class="SlideShowNavLink"><i class="far fa-dot-circle"></i></a>

                </li>
                <li class="SliderNaviagtionList">
                    <a href="#" class="SlideShowNavLink"><i class="far fa-dot-circle"></i></a>

                </li>
                <li class="SliderNaviagtionList">
                    <a href="#" class="SlideShowNavLink"><i class="far fa-dot-circle"></i></a>

                </li>
                <li class="SliderNaviagtionList">
                    <a href="#" class="SlideShowNavLink"><i class="far fa-dot-circle"></i></a>

                </li>
                
            </ul>

           


        </div>


    </div>



</div>