
<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="Sponsor">
    <div class="SponsorCenter">
        <div class="SponsorCenterTop">
            <i class="fab fa-canadian-maple-leaf"></i>&nbsp;Our Sponsors
        </div>
        <div class="SponsorCenterBottom">
            <ul class="SponsorCenterBottomContainer">
                <li class="SponsorCenterBottomContainerHeading">CocaCola
                    
                </li>
                <li class="SponsorCenterBottomContainerImage">
                    
                    <img class="SponsorListImage" src="/assets/Images/Sponsor1.jpg" alt=""/>
                </li>
            </ul>
            <ul class="SponsorCenterBottomContainer">
                <li class="SponsorCenterBottomContainerHeading">Unilever
                    
                </li>
                <li class="SponsorCenterBottomContainerImage">
                    
                    <img class="SponsorListImage" src="/assets/Images/Sponsor2.jpg" alt=""/>
                </li>
            </ul>
            <ul class="SponsorCenterBottomContainer">
                <li class="SponsorCenterBottomContainerHeading">IBM
                    
                </li>
                <li class="SponsorCenterBottomContainerImage">
                    
                    <img class="SponsorListImage" src="/assets/Images/Sponsor3.jpg" alt=""/>
                </li>
            </ul>
            <ul class="SponsorCenterBottomContainer">
                <li class="SponsorCenterBottomContainerHeading">Microsoft
                    
                </li>
                <li class="SponsorCenterBottomContainerImage">
                    
                    <img class="SponsorListImage" src="/assets/Images/Sponsor4.jpg" alt=""/>
                </li>
            </ul>
            

        </div>
    </div>
</div>