<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="News">
    <div class="NewsCenter">
        <div class="NewsCenterTop">
            <i class="fas fa-newspaper"></i>News Portal
        </div>
        <div class="NewsCenterBottom" *ngFor="let news of newses">
            <div class="NewsCenterBottomContainerLeft">
                <img class="NewsMainImage" src="/assets/Images/News1.jpg" alt=""/>
                <div class="NewsBottomContainerhead">
                    <a routerLink="/news/newsDetail">News Heading: {{news.newsHeading}}</a>
                </div>
                <div class="NewsBottomContainerDate">News Date: {{news.newsDate}}</div>
                <div class="NewsBottomContainerDescription">
                    {{news.newsDescription}}
                </div>

            </div>
            <div class="NewsCenterBottomContainerRight">
                <div class="NewsSubImageDiv">
                    <img class="NewsSubImage" src="/assets/Images/News2.jpg" alt=""/>
                </div>
                <div class="NewsSubImageContainer">
                    <div class="NewsSubImageContainerHead">
                        <a routerLink="/news/newsDetail">News Heading 2</a>

                    </div>
                    <div class="NewsSubContainerDate">
                        19th October 2021

                    </div>
                    <div class="NewsSubContainerDescription">
                        It is an immense pleasure and honour for me to not only continue the legacy of IBA, but to take it forward.
                    While the whole world is going through an unprecedented crisis like no other, 2021 marks a number of milestones for Bangladesh. 
                    From a bottomless basket to one of the fastest growing economies in the world, achieving the status of a middle-income country, celebrating the centenary birth anniversary of our Father of the Nation, the golden jubilee of independence of Bangladesh and of course...
                    More
                    </div>

                </div>
            </div>
            <div class="NewsCenterBottomContainerRight">
                <div class="NewsSubImageDiv">
                    <img class="NewsSubImage" src="/assets/Images/News3.jpg" alt=""/>
                </div>
                <div class="NewsSubImageContainer">
                    <div class="NewsSubImageContainerHead">
                        <a routerLink="/news/newsDetail">News Heading 3</a>

                    </div>
                    <div class="NewsSubContainerDate">
                        19th October 2021

                    </div>
                    <div class="NewsSubContainerDescription">
                        It is an immense pleasure and honour for me to not only continue the legacy of IBA, but to take it forward.
                    While the whole world is going through an unprecedented crisis like no other, 2021 marks a number of milestones for Bangladesh. 
                    From a bottomless basket to one of the fastest growing economies in the world, achieving the status of a middle-income country, celebrating the centenary birth anniversary of our Father of the Nation, the golden jubilee of independence of Bangladesh and of course...
                    More
                    </div>

                </div>
            </div>
            <div class="NewsCenterBottomContainerRight">
                <div class="NewsSubImageDiv">
                    <img class="NewsSubImage" src="/assets/Images/News3.jpg" alt=""/>
                </div>
                <div class="NewsSubImageContainer">
                    <div class="NewsSubImageContainerHead">
                        <a routerLink="/news/newsDetail">News Heading 4</a>

                    </div>
                    <div class="NewsSubContainerDate">
                        19th October 2021

                    </div>
                    <div class="NewsSubContainerDescription">
                        It is an immense pleasure and honour for me to not only continue the legacy of IBA, but to take it forward.
                    While the whole world is going through an unprecedented crisis like no other, 2021 marks a number of milestones for Bangladesh. 
                    From a bottomless basket to one of the fastest growing economies in the world, achieving the status of a middle-income country, celebrating the centenary birth anniversary of our Father of the Nation, the golden jubilee of independence of Bangladesh and of course...
                    More
                    </div>

                </div>
            </div>
                               
                

            </div>
        <div class="NewsArchive">
            <a routerLink="/news/newsList">News Archieve</a>

        </div>

    </div>
</div>