<p>quicklink-description works!</p>
<div class="container" *ngFor="let quicklink of quicklinks">
    <router-outlet></router-outlet>
    
        <div class="text-center">
            <img src="/assets/Images/QuickLinks1.jpg" class="img-fluid rounded img-thumbnail mb-4" alt="About Image" style="height: 400px; object-fit: cover"/>
        </div>
        <h1 class="text-secondary text-center">
            Quicklinks Heading {{quicklink.quicklinkHeading}}
        </h1>
        <h3 class="text-muted text-center" >Quicklinks Date: Sep 09, 2020{{quicklink.quicklinkDate}}</h3>
        <hr class="bg-secondary" />
        <p class="text-secondary lead h6 text-justify">{{quicklink.quicklinkDescription}}
            
        </p>
    
</div>