<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="Events">
    <div class="EventsCenter">
        <div class="EventsCenterTop">
            <i class="fas fa-calendar-alt"></i> Events
        </div>
        <div class="EventsCenterBottom">
            <div class="EventsCenterBottomContainer">
                <div class="EventsContainerLeft">
                    <a id="EventArchieve1" routerLink="/event/eventDetail">
                        <div class="EventsContainerLeftMonth">August</div>
                        <div class="EventsContainerLeftDate">13</div>
                        <div class="EventsContainerLeftYear">2021</div>
                    </a>

                </div>
                <div class="EventsContainerRight">
                    <a id="EventArchieve1" routerLink="/event/eventDetail">
                        <div class="EventsContainerRightHeading">Summer Picnic</div>
                        <div class="EventsContainerRightLocation">Location: Scarborough</div>
                        <div class="EventsContainerRightTime">Time: 12 pm till 5 pm</div>
                    </a>

                </div>


            </div>

            <div class="EventsCenterBottomContainer">
                <div class="EventsContainerLeft">
                    <a id="EventArchieve1" routerLink="/event/eventDetail">
                        <div class="EventsContainerLeftMonth">August</div>
                        <div class="EventsContainerLeftDate">13</div>
                        <div class="EventsContainerLeftYear">2021</div>
                    </a>


                </div>
                <div class="EventsContainerRight">
                    <a id="EventArchieve1" routerLink="/event/eventDetail">
                        <div class="EventsContainerRightHeading">Summer Picnic</div>
                        <div class="EventsContainerRightLocation">Location: Scarborough</div>
                        <div class="EventsContainerRightTime">Time: 12 pm till 5 pm</div>
                    </a>




                </div>
            </div>

        </div>
        <div class="EventArchieve">
            <a id="EventArchieve1" routerLink="/event/eventList">All Events</a>
        </div>

    </div>
</div>