<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="Events">
    <div class="EventsCenter">
        <div class="EventsCenterTop">
            <i class="fas fa-calendar-alt"></i>&nbsp;Events
        </div>
        <div class="EventsCenterBottom" >
            <div class="EventsCenterBottomContainer" *ngFor="let event of events">
                <div class="EventsContainerLeft">
                    <a [routerLink]="['/event/eventDetail', event.id]">
                        <div class="EventsContainerLeftMonth">{{event.eventDate| date:'MMM'}}</div>
                        <div class="EventsContainerLeftDate">{{event.eventDate | date:'dd'}}</div>
                        <div class="EventsContainerLeftYear">{{event.eventDate | date:'YYYY'}}</div>
                    </a>
                </div>
                <div class="EventsContainerRight">
                    <a [routerLink]="['/event/eventDetail', event.id]" >
                        <div class="EventsContainerRightHeading">Heading:{{event.eventHeading}}</div>
                        <div class="EventsContainerRightLocation">Location:{{event.eventLocation}}</div>
                        <div class="EventsContainerRightTime">Time: {{event.eventTime | date:'mediumTime'}}</div>
                    </a>
                </div>
            </div>

            

        </div>
        <div class="EventArchieve">
            <a routerLink="/event/eventList">All Events</a>
        </div>

    </div>
</div>