<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="Events">
    <div class="EventsCenter">
        <div class="EventsCenterTop">
            <i class="fas fa-calendar-alt"></i> Events
        </div>
        <div class="EventsCenterBottom" >
            <div class="EventsCenterBottomContainer" *ngFor="let event of events">
                <div class="EventsContainerLeft">
                    <a routerLink="/event/eventDetail/:id" >
                        <div class="EventsContainerLeftMonth">{{event.eventDate}}</div>
                        <div class="EventsContainerLeftDate">{{event.id}}</div>
                        <div class="EventsContainerLeftYear"></div>
                    </a>
                </div>
                <div class="EventsContainerRight">
                    <a routerLink="/event/eventDetail/:id" >
                        <div class="EventsContainerRightHeading">Heading:{{event.eventHeading}}</div>
                        <div class="EventsContainerRightLocation">Location:{{event.eventLocation}}</div>
                        <div class="EventsContainerRightTime">Time: {{event.eventTime}}</div>
                    </a>
                </div>
            </div>

            

        </div>
        <div class="EventArchieve">
            <a routerLink="/event/eventList">All Events</a>
        </div>

    </div>
</div>